<header>
    <h1 class="this-week">
        What's this week
    </h1>
</header>

<main class="main row">
    <div class="col-xs-12 movie-list">
        <div class="fb-like"
             data-href="https://developers.facebook.com/docs/plugins/"
             data-width="300"
             data-layout="button_count"
             data-action="like"
             data-show-faces="true"
             data-share="true"></div>
    </div>
</main>