<main class="main row candy-container">
    {{#each pics}}
        <img src="{{src}}" alt="an image" id="{{id}}" class="food"/>
    {{else}}
        //if array empty
    {{/each}}
</main>

<!--template specific scripts-->
<script src="/javascripts/candy.js"></script>
