<!--<h1 class="page-title">Add / Edit film</h1>-->

<div class="content row">
    <h1 class="page-title">Create new movie</h1>

    <div class="col-xs-4">
        <!--TODO: add film title to the alt attr-->
        <img src="/images/Mexican-Boss-icon.png" alt="film-name-poster"
             class="film-poster"/>
    </div>
    <div class="col-xs-6 editing-block">
        <form class="form-horizontal" action="/film-edit-page/save-film" method="POST" enctype="multipart/form-data"
              id="create-movie">
            <div class="form-group">
                <label for="title" class="col-xs-4 control-label edit-form-label">Title</label>

                <div class="col-xs-8">
                    <input type="text" class="form-control price" id="title"
                           placeholder="Film's name" name="movieName" required>
                </div>
            </div>

            <div class="form-group">
                <label for="duration" class="col-xs-4 control-label edit-form-label">Duration</label>

                <div class="col-xs-8">
                    <input type="number" class="form-control duration" id="duration"
                           placeholder="minutes" name="duration" required>
                </div>
            </div>

            <div class="form-group">
                <label for="price" class="col-xs-4 control-label edit-form-label">Price</label>

                <div class="col-xs-8">
                    <input type="number" class="form-control price" id="price"
                           placeholder="$ per one ticket" name="price" required>
                </div>
            </div>
            <div class="form-group">
                <label for="image" class="col-xs-4 control-label edit-form-label">Image</label>

                <div class="col-xs-8">
                    <input type="file" class="form-control image" id="image"
                           placeholder="choose an image" name="image" required>
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-xs-4 control-label edit-form-label">Premiere date</label>

                <div class="col-xs-8">
                    <input type="date" class="form-control date" id="date"
                           placeholder="choose a date" name="premiere" required>
                </div>
            </div>
            <div class="form-group">
                <label for="genre" class="col-xs-4 control-label edit-form-label">Genres</label>

                <div class="col-xs-8">
                    <select class="form-control" id="genre" name="genre">
                        <option>Sci-Fi</option>
                        <option>Comedy</option>
                        <option>Kids</option>
                        <option>Drama</option>
                        <option>Documentary</option>
                        <option>Horror</option>
                        <option>Adventure</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-xs-4 control-label edit-form-label">Description</label>

                <div class="col-xs-8">
                    <textarea class="form-control description" id="description"
                              placeholder="Description of the film, max 870 symb."
                              name="description" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="actors" class="col-xs-4 control-label edit-form-label">Actors</label>

                <div class="col-xs-8">
                    <input type="text" class="form-control actors" id="actors" name="actors" required>
                </div>
            </div>
            <div class="form-group">
                <label for="directed" class="col-xs-4 control-label edit-form-label">Directed by</label>

                <div class="col-xs-8">
                    <input type="text" class="form-control directed" id="directed" name="director" required>
                </div>
            </div>

            <div class="form-group">
                <label for="YouTubeLink" class="col-xs-4 control-label edit-form-label">YouTube Link</label>

                <div class="col-xs-8">
                    <input type="url" class="form-control you-tube" id="YouTubeLink"
                           placeholder="Link to trailer" name="youtube" required>
                </div>
            </div>
            <div class="form-group">
                <label for="enddate" class="col-xs-4 control-label edit-form-label">Last day of the show</label>

                <div class="col-xs-8">
                    <input type="date" class="form-control enddate" id="enddate"
                           placeholder="choose date of the end of show" name="enddate" required>
                </div>
            </div>

            <div class="form-group">
                <label for="schedule1" class="col-xs-4 control-label edit-form-label">Time of the show</label>

                <div class="col-xs-4">
                    <select class="form-control" id="schedule1" name="schedule1">
                        <option>9:00</option>
                        <option>11:00</option>
                        <option>13:00</option>
                        <option>15:00</option>
                        <option>17:00</option>
                        <option>19:00</option>
                        <option>21:00</option>
                        <option>23:00</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="schedule2" class="col-xs-4 control-label edit-form-label"></label>

                <div class="col-xs-4">
                    <select class="form-control" id="schedule2" name="schedule2">
                        <option>9:00</option>
                        <option>11:00</option>
                        <option>13:00</option>
                        <option>15:00</option>
                        <option>17:00</option>
                        <option>19:00</option>
                        <option>21:00</option>
                        <option>23:00</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="schedule3" class="col-xs-4 control-label edit-form-label"></label>

                <div class="col-xs-4">
                    <select class="form-control" id="schedule3" name="schedule3">
                        <option>9:00</option>
                        <option>11:00</option>
                        <option>13:00</option>
                        <option>15:00</option>
                        <option>17:00</option>
                        <option>19:00</option>
                        <option>21:00</option>
                        <option>23:00</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-default edit-form-delete-film" form="create-movie">Delete
                    </button>
                    <button type="submit" class="btn btn-default edit-form-save-changes" form="create-movie">Save
                    </button>

                </div>
            </div>
        </form>

    </div>
</div>


<!--<script>
    function anichange(objName) {
        if ($(objName).css('display') == 'none') {
            $(objName).animate({height: 'show'}, 400);
        } else {
            $(objName).animate({height: 'hide'}, 200);
        }
    }
</script>-->
