<main class="main row">

    <img src="/images/kidz.jpg" class="kidzclub" title="kids">

    <p class="kidz-text">
        All our parties are two hours in total and when you arrive you are met by your Party Host and the children
        are taken to the Party Reception area .

        With BarneyS Best the children choose their Party food from a choice of sausages, fish fingers, chicken
        goujons and pizza with chips, the children also get a bowl of decorated ice-cream. We supply non-fizzy
        drinks while the children are playing and during the party.All our food is cooked in the oven.

        With BarneyS Bargain the children get Sausages, Chicken Goujon and oven chips and a bowl of popcorn or
        marshmallows and jugs of non-fizzy driniks during the time in the party room.


        The children have playtime for approximately 1 hour and fifteen minutes and then they are called to the
        Party Room for the party food and birthday cake

        Our Barney character(Blue Dog) is available to bring in the birthday cake(optional).For all our Parties the
        rooms are decorated with hats and blowers .
    </p>

</main>