<main class="main row">
    <h1>Registration</h1>

    <form action="/register" id="form" method="POST">

        <div class="form-group col-xs-6 col-xs-offset-3">
            <input type="text" name="login" class="form-control" placeholder="Login" id="login">
        </div>

        <div class="form-group col-xs-6 col-xs-offset-3">
            <input type="text" name="email" class="form-control" placeholder="Email" id="email">
        </div>

        <div class="form-group col-xs-6 col-xs-offset-3">
            <input type="password" name="password" class="form-control" placeholder="Password" id="password">
        </div>
        <div class="form-group btn btn-default col-xs-offset-3">
            <input type="submit" value="Register" class="submit form-control">
        </div>
    </form>


</main>
<script src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="javascripts/registration.js"></script>