html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/Abstract%20bright%20light.jpg") 0 0 no-repeat transparent;
  background-size: cover;
}

.page {
  padding: 0 15px;
}

.header-block {
  background: linear-gradient(0deg, #072411, #059407);
  margin: 0 -15px;

  .header {
    max-width: $max-body-width;
    padding: 0 15px 15px;
    margin: 0 auto;

    .logo-link {
      text-decoration: none;
      display: inline-block;
      max-width: 329px;
      width: 100%;

      &:hover {
        text-decoration: none;
      }
    }

    .logo {
      background: url("../images/blaqqcat-copy.png") 0 0 no-repeat transparent;
      background-size: contain;
      color: transparent;
      line-height: 110px;
      margin: 0;
    }
    .star{
      background: url("../images/star_cluster.png") 0 0 no-repeat transparent;
      background-size: contain;
      color: transparent;
      margin: 0;
      position: absolute;
      left:16%;
      top:0;
      font-size: 100px;
    }

    .login,
    .register {
      position: relative;
      left: 50%;
      background-color: inherit;
      border-radius: 4px;
      color: #adadad;
      font: bold 18px 'Unica One', sans-serif;
      padding: 3px;
      text-decoration: none;

      &:hover {
        background: linear-gradient(0deg, #F4982F, #592d0b);
        border-radius: 4px;

      }
    }
  }
}
